/*
 * Utility Mixins
 * Common mixins for using design tokens in components
 * Components should use CSS variables via these mixins
 */

@use 'sass:map';
@use './functions' as fn;
@use './ref' as ref;

/* Typography Mixin - uses CSS variables (composite token) */
@mixin pu-font($key, $mono: false) {
  font-size: var(--sys-typo-#{$key}-size);
  font-weight: var(--sys-typo-#{$key}-weight);
  line-height: var(--sys-typo-#{$key}-line-height);
  @if $mono == true {
    font-family: var(--ref-font-family-mono);
  }
}

@mixin pu-font-size($key) {
  font-size: var(--sys-typo-#{$key}-size);
}

/* Elevation (Shadow) Mixin - uses CSS variables */
@mixin pu-elevation($level) {
  box-shadow: var(--sys-shadow-#{$level});
}

/* Icon Mixin - uses CSS variables (composite token) */
@mixin pu-icon($size, $layout: false) {
  width: var(--sys-icon-size-#{$size});
  height: var(--sys-icon-size-#{$size});
  font-size: var(--sys-icon-font-size-#{$size});
  
  @if $layout == true {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Responsive breakpoint mixins */
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

@mixin breakpoint($size) {
  $value: map.get($breakpoints, $size);
  @if $value == null {
    @error "Unknown breakpoint `#{$size}`. Available: #{map.keys($breakpoints)}";
  }
  @media (min-width: $value) {
    @content;
  }
}

/* Truncate text mixin */
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Flex center mixin */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Absolute cover mixin */
@mixin absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
